# API connection
API_HOST=https://eaterslab.example/beta
DEVICE_ID=test-cam-1
API_KEY=XXXXXX

# Archives
ARCHIVES_DIR=archives

# Input frames
FRAME_SOURCE=1 # 0 - file, 1 - webcam, 2 - RPi camera
WEBCAM_STREAM_NUM=0
SOURCE_FILE_PATH="test/test.mp4"
DISPLAY_FRAME=0
