[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3"

[packages]

psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
django = "*"
django-filter = "*"
django-environ = "*"
djangorestframework = "*"
whitenoise = "*"
drf_yasg = "*"
drf-nested-routers = "*"
